<!DOCTYPE html>
<html>
   <head>
      <title><%= title %></title>
      <meta charset="utf-8"/>
      <link rel="stylesheet" type="text/css" href="css/common.css">
      <link rel="stylesheet" type="text/css" href="css/index.css">
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="https://unpkg.com/vue"></script>
   </head>
   <body id="body">
      <div id="nav">
         <hamburger-nav></hamburger-nav>
      </div>
      <div id="sectionContainer">
         <section id="p1">
            <div class="title-page">
               <div class="title-bg">
                  <img class="ED_Logo" src="img/edcan_profile.png" alt="">
               </div>
               <div class="title-down">
                  <img src="img/down_button.png" alt="">
               </div>
            </div>
         </section>
         <section id="p2" class="page-card">
	       <h1 id="title_header"> iwin247 info </h1>
		<div class="intro-card">
                       <h2 id="language">Korea</h2>
                       <p>안녕하세요 선린인터넷고등학교에 재학중인 김연준입니다</p>
                                </div>
         </section>
	  <section id="p3">
                <h1 id="title_header"> profile  </h1>
             <card-view id="profile_info"></card-view>
         </section>
      </div>
   </body>
   <script src="js/custom.js"></script>
   <script src="js/index.js"></script>
</html>
