* {
    margin: 0;
    padding: 0;
}

html, body{
  width:100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

}


body {
  background: #FFF;
  height: 100%;
}

#header__button{
  margin-left: 1em;
  margin-top: 1em;
}

#menu {
    position: fixed;
    margin-left: 5px;
}
.container {
    display: show;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 3.8em;
    height: 1em;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger--open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-1.5em, 6px) ;
    transform: rotate(-45deg) translate(-1.4em, 1.45em) ;
}

.hamburger--open .bar2 {opacity: 0;}

.hamburger--open .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

#sectionContainer{
  width: 100%;
  height: 100%;
}

#p1{
    width: 100%;
    height: 100%;
}
#p1 .title-page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-down{
    cursor:pointer;
}

#p1 .title-page .title-bg{
    display: flex;
    flex-direction: row;
    height: 100%;
    flex:1;
    width:100%;
    justify-content: center;
    align-items: center;
    background-image: url('../img/main_img.png');
    background-size: cover;
}
#p1 .title-page .title-down{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    flex-basis: 50px;
    flex-shrink: 2;
    background-color: rgb(21, 27, 30);
}
#p1 .title-page .title-bg img{
    width:14rem;
    height: auto;
}

#p2{
        background-color: #263238;
     height: 25rem;
      color: rgb(212, 212, 212);
}

#p2 .intro-card{
    display: flex;
    padding: 1rem;
    background-color: rgb(38, 50, 56);
    color: rgb(212, 212, 212);
}

#p2 .intro-card p{
    font-size: 2em;
    line-height: 0.1rem;
    padding-top: 0.2rem;
}

#p2 p{
    font-size: 1rem;
    line-height: 1.7rem;
    padding-top: 0.7rem;
}

#p3{
    background-color: #263238;
    height: 30rem;
    color: rgb(212, 212, 212);
}

.page-card {
    box-shadow: 2px 2px 20px 1px grey;
    background-color: white;
    margin-bottom: 3rem;
}

#language {
    font-size: 3em;
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
        max-width: 20%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.card_container {
    color: #fff;
    padding: 2px 16px;
}

#title_header {
       background: linear-gradient(-30deg, #00b9d5 50%, #ffffff 50%);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       white-space: nowrap;
     text-align: center; 
     font-size: 3em;
}

#nav_container {
    width:100%;
    height: 100%;
  background: url("/img/github.jpg") no-repeat;
  background-size: cover;
}


.login_cover{
  z-index:2;
  width:100%;
  height: 100%;
  position:absolute;
  display: flex;
   right:0;
   top:0;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;


}